@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(#635CFF, white);
}

.main {
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    box-shadow: 0 0 25px 0 black;
    height: 500px;
}

.left {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(30%);
}

.right {
    position: relative;
    top: 50%;
    transform: translateY(20%);
}

.left img {
    max-width: 100%;
    width: 300px;
}

.form {
    text-align: center;
}

.form img {
    width: 90px;
    height: 90px;
}

input {
    border: none;
    outline: none;
    background: transparent;
    margin-left: 10px;
}

input::placeholder {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.username,
.password {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
}

button {
    margin-top: 20px;
    width: 100%;
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 33px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: #635CFF;
}

button:hover {
    transition: 0.5s;
    opacity: 0.9;
    box-shadow: 0 0 25px 0 rgb(107, 107, 107);
    color: white;
}

span {
    color: #635CFF;
}

h1,
p {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 500;
}

p {
    font-weight: 600;
}

@media screen and (max-width:768px) {
    .left {
        display: none;
    }
    .main {
        padding-right: 10px;
        padding-left: 10px;
    }
}